@keyframes flip {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes flip-bg {
  from {
    color: transparent;
    background-color: var(--tile-background-color);
  }
  33% {
    color: currentColor;
    background-color: var(--revealed-tile-background-color);
  }
}
