:root {
  --tile-size: 34px;
  --tile-background-color: #bbb;
  --revealed-tile-background-color: #e0e0e0;
  --animation-time: 0.6s;
  --animation-time-flip: calc(var(--animation-time) / 3)
}

#board {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  margin: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--tile-background-color);
  font-size: 21px;
  color: transparent;

  transform: rotateY(180deg);

  &:after {
    opacity: 0;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;

    transition: opacity var(--animation-time-flip) step-end;
  }
}

.tile:hover {
  cursor: pointer;
}

.tile.flagged {
  background-image: url("../resources/flag.svg");
}

.tile.revealed {
  background-color: var(--revealed-tile-background-color);
  transform: rotateY(0deg);
  transition: transform var(--animation-time) ease, color var(--animation-time-flip) step-end, background-color var(--animation-time-flip) step-end;
}

.tile.revealed.mine {
  background-color: red;
  color: transparent;

  &:after {
    opacity: 1;

    background-image: url("../resources/mine.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.tile.revealed.number-1 {
  color: blue;
}

.tile.revealed.number-2 {
  color: green;
}

.tile.revealed.number-3 {
  color: red;
}

.tile.revealed.number-4 {
  color: darkblue;
}

.tile.revealed.number-5 {
  color: brown;
}

.tile.revealed.number-6 {
  color: cyan;
}

.tile.revealed.number-7 {
  color: black;
}

.tile.revealed.number-8 {
  color: gray;
}
