@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "board.css";
@import "difficulty-select.css";


body {
  height: 100vh;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-bar {
  margin-bottom: 24px;
}

button {
  background-color: #A5DD9B;
  border: 3px solid transparent;
  border-radius: 30px;

  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  font-weight: bold;

  box-shadow: 0 2px 25px rgba(191, 246, 195, 0.5);
  padding: 13px 20px;
  transition: transform ease-in-out 0.1s, border ease-in 0.1s;

  &:hover {
    border: 3px solid #75A47F;
  }

  &:active {
    transform: scale(0.9);
  }
}

.popover {
  visibility: hidden;

  position: absolute;
  top: 30%;
  align-self: center;
  z-index: 1;
  background-color: white;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateY(-100px);
  transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
}

.popover.popover-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
