@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "animations.css";
@import "difficulty-select.css";

:root {
  --tile-size: 30px;
  --tile-background-color: #bbb;
  --revealed-tile-background-color: #e0e0e0;
}

body {
  height: 100vh;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-bar {
  margin-bottom: 16px;
}

button {
  border: none;
  background-color: red;
  border-radius: 30px;

  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  font-weight: bold;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  margin: 3px;
}

button:hover {
  border: 3px solid green;
  margin: 0;
}

.popover {
  visibility: hidden;

  position: absolute;
  top: 30%;
  align-self: center;
  z-index: 1;
  background-color: white;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateY(-100px);
  transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
}

.popover.popover-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#board {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  margin: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--tile-background-color);
  font-size: 21px;
  color: transparent;

  transform: rotateY(180deg);
}

.tile:hover {
  cursor: pointer;
}

.tile.flagged {
  background-image: url("../resources/flag.svg");
}

.tile.revealed {
  animation: flip 0.6s ease, flip-bg 0.6s step-end;
  background-color: var(--revealed-tile-background-color);
  transform: rotateY(0deg);
}

.tile.revealed.mine {
  background-color: red;
  background-image: url("../resources/mine.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.tile.revealed.number-1 {
  color: blue;
}

.tile.revealed.number-2 {
  color: green;
}

.tile.revealed.number-3 {
  color: red;
}

.tile.revealed.number-4 {
  color: darkblue;
}

.tile.revealed.number-5 {
  color: brown;
}

.tile.revealed.number-6 {
  color: cyan;
}

.tile.revealed.number-7 {
  color: black;
}

.tile.revealed.number-8 {
  color: gray;
}
